@use "../css/_main.scss";
@use "../css/mixin";
@use "../css/variables";

.about {
    height: 90%;
    .landing {
        @include mixin.landing();
        h2 {
            @include mixin.horizontalSeparator();
        }
        p, ul li {
            font-size: 1.2rem;
            margin-bottom: 1%;
            a {
                @include mixin.a();
                text-decoration: underline variables.$col-brand-2 .1rem;
            }
        }
        ul .offset {
            margin-left: 3%;
        }
    }
}
 .highlight {
                color: variables.$col-brand-2;
            }