@import "../css/_main.scss";

.home {
    height: 90%;
    .landing {
        @include landing();
        h2 {
            @include horizontalSeparator();
        }
        .leaderboard {
            width: 100%;
            border-collapse: collapse;
            font-size: 1.2rem;
            tr {
                th {
                    padding: .5%;
                    text-align: left;
                }
                .small {
                    width: 2.5%;
                }
                td {
                    padding: .5%;
                    a {
                        @include a();
                    }
                    .fi {
                        @include fi();
                    }
                }
            }
        }
        .stats {
            margin-top: 2%;
            p a {
                @include a();
            }
        }
    } 
}