@use "../css/_main.scss";
@use "../css/mixin";
@use "../css/variables";

.player {
    height: 90%;
    .landing {
        @include mixin.landing();
        h2 {
            @include mixin.horizontalSeparator();
        }
        .playercard {
            margin-bottom: 2%;
            h1 {
                margin-bottom: 1%;
                .fi {
                    @include mixin.fi();
                }
                a{
                    @include mixin.a();
                }
            }
            .info {
                font-size: 1.2rem;
                .about_me {
                    margin-top: 1%;
                }
            }
        }
        .tier-container {
            @include mixin.tier-container();
        }
        .showcase {
            width: 100%;
            border-collapse: collapse;
            font-size: 1.2rem;
            tr {
                th {
                    padding: .5%;
                    text-align: left;
                }
                td {
                    padding: .5%;
                    a {
                        @include mixin.a();
                    }
                }
                @each $k, $v in variables.$cols-t { .tier-t#{$k} { color: $v; }}
            }
        }
        .chart {
            max-height: 75vh;
        }
    }
}