@use "../css/_main.scss";
@use "../css/mixin";
@use "../css/variables";

.search {
    height: 90%;
    .landing {
        @include mixin.landing();
        .searchbar {
            font-size: 1.2rem;
            padding: .5%;
            margin-bottom: 1%;

            background-color: variables.$col-brand-1;
            color: variables.$col-bg-1;
            border: 1px solid variables.$col-bg-1;
            border-radius: 4px;
            &::placeholder {
                color: variables.$col-brand-2;
            }
        }
        h2 {
            @include mixin.horizontalSeparator();
        }
        .results {
            font-size: 1.2rem;
            .player {
                padding: .5% 0 0 0;
                a {
                    @include mixin.a();
                }
            }
        }
    }
}