@use "../css/_main.scss";
@use "../css/mixin";
@use "../css/variables";

footer {
    position: fixed;
    bottom: .5rem;
    left: 0;

    font-size: .8rem;
    font-weight: variables.$font-weight-medium-bold;
    color: variables.$col-bg-1;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 1px variables.$col-brand-1;

    z-index: 100;
    a {
        @include mixin.a();
    }
}