@use "../css/variables";

@mixin horizontalSeparator {
    padding-bottom: .5%;
    margin-bottom: 1%;
    border-bottom: 2px solid variables.$col-brand-2;
}
@mixin fi {
    border-radius: 4px;
}
@mixin landing {
    height: 100%;
    position: relative;
    background-color: variables.$col-brand-1;
    overflow: hidden;
    color: variables.$col-bg-1;
    padding: 3%;
}
@mixin a {
    color: variables.$col-bg-1;
    &:hover {
        color: variables.$col-brand-2;
    }
}
@mixin tier-container {
    display: flex;
    align-items: center;
    height: 12px;
    border-radius: 8px;
    overflow: hidden;
    .tier {
        height: 100%;
        border-right: 1px solid black;
        &:last-child {
            border-right: 0px;
        }
    }
    @each $k, $v in variables.$cols-t { .tier-t#{$k} { background-color: $v; }}
}