$col-brand-1: #433757;
$col-brand-2: #A98DD6;
$col-bg-1: white;

$font-weight-medium-bold: 500;

$cols-t: (
    1: #9696FF,
    2: #93AEFF,
    3: #91C8FF,
    4: #8EECFF,
    5: #8CFFE2,
    6: #89FFB0,
    7: #9BFF87,
    8: #B7FF84,
    9: #D5FF82,
    10: #F4FF7F,
    11: #FFF47C,
    12: #FFDD7A,
    13: #FFC677,
    14: #FFAE75,
    15: #FF9572,
    16: #FF7C70,
    17: #FF6D79,
    18: #FF6DAA,
    19: #FF68D9,
    20: #F266FF
)