{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block javascripts %}
<script type="module" src="/js/home.js"></script>
{% endblock %}

{% block body %}
<section class="home">
    <div class="landing">
        <p id="status" class="status"></p>
        <table id="leaderboard" class="leaderboard">
            <tr>
                <th></th>
                <th>Player</th>
                <th>PP</th>
                <th>Clears</th>
            </tr>
        </table>
        <div class="stats">
            <p id="showing" class="showing"></p>
            <p id="top10"></p>
            <p id="top100"></p>
            <p id="top1000"></p>
        </div>
    </div>
</section>
{% endblock %}